html { 
 height: 100%; 
 margin: 0;
 padding: 0;
}

body {
 height: 100%;
 text-decoration: none;
 color:  #3D545D;
 font-family: "arial";
 font-size:0.99em;
 margin: 15px;
 padding: 0;
}


.smallText{
	font-size:0.8em;
}

label {
    float: left;
    width: 150px;
    font-weight: bold;
    margin-left: 18px;
    text-align: right;
}

.formLabel{
 float: left;
 width: 120px;
 font-weight: bold;
 margin-left:5px;
 margin-top: 5px;
}

input, select, multiple, textarea{
 float: left;
 margin-top: 5px;
}



.submitButton {color: #3D545D; font-family: "arial"; font-size: 95%; font-weight: medium;}

textarea{
 width: 250px;
 height: 150px;
}

.boxes{
 width: 1em;
}

ul {
padding-left: 0;
margin-left: 0;
text-align: left;
}



br{
 clear: left;
}

img{
padding:0px;
margin:0px;
border:0;
}



a {color:#3D545D;}
a:active {color:#94a9be;}
a:focus {color:#94a9be; outline: none; -moz-outline-style: none;}

a.smallLink {font-size:85%; }
a.bigLink {font-size:103%; }
a.helpfulLink {color:#526972;}

.smallText{color:#3D545D;font-size:92%;}
.smallerText{color:#3D545D;font-size:85%;}
.redText{color:red}
.smallRedText{font-size:85%;color:red;}
.darkRedText{color:#7a0026;}
.bigDarkRedText{font-size:125%; color:#7a0026;}
.smallDarkRedText{font-size:85%;color:#7a0026;}
.normalText{color:#3D545D;}
.smallBlueText{font-size:85%;font-weight:normal; color:#526972;}
.smallGreyText{font-size:85%;font-weight:normal; color:gray;}
.boldBlueText{font-weight:bold; color:#526972;}
.boldText{font-weight:bold;}
.bigBlueText{font-size:125%; color:#526972;}
.headerText {font-size:125%;font-weight:bold; }

select option { color: #3D545D; font-family: "arial"; font-size: 8pt; font-weight: medium; }
.optionStyle { color: #3D545D; font-family: "arial"; font-size: 8pt; font-weight: medium; }







div.formTitle {
	margin: 0;
	padding: 2px 3px 2px 2px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: #e9edf0;
	-moz-border-radius: 0px;
}


span.surroundBoxTitle {
	background-color:white; 
	position:relative; 
	top:8px; 
	left:5px;
	font-size:110%;
}


table.surroundBox {	
	border-width: 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:100%;
}

table.surroundBox td {
	margin: 0;
	padding: 3px;
	background-color: white;
	-moz-border-radius: 0px;
}

table.surroundBox tr {	
	vertical-align:top;
}



table.surroundForm {	
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:100%;
}

table.surroundForm td {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 5px;
	background-color: white;
	-moz-border-radius: 0px;
}

table.surroundForm tr {	
	vertical-align:top;
}




table.noBorder td { border:0; }


div.bordered {
border-bottom: 1px solid #adc6de;
border-left: 1px solid #adc6de;
border-right: 1px solid #adc6de;
background: white;
margin:0px;
padding:0px;
color: #3D545D;
border-spacing:0px;
}





td.fullborder {
border: 1px solid #adc6de;
background: white;
margin:0px;
padding:0px;
color: #3D545D;
border-spacing:0px;
border-collapse: collapse;
}




table.noborder{
border-width:0px;
border-spacing:0px;
padding:0px;
margin:0px;
}


td.noborder{
border-width:0px;
border-spacing:0px;
padding:0px;
margin:0px;
border-collapse: collapse;
}

td.shadednoborder{
border-width:0px;
border-spacing:0px;
padding:0px;
margin:0px;
border-collapse: collapse;
background: white;
}





.adminRightHeader{font-size:115%; font-weight:bold; color:#3D545D; margin-bottom:5px; }




table.linedDataTable {	
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e6e5e9;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:95%;
	margin-bottom:5px;
}

table.linedDataTable td {
	margin: 0;
	padding: 3px 3px 3px 3px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: white;
	-moz-border-radius: 0px;
}

table.linedDataTable td.complete {
	background-color: #f4f4f4;
}


table.linedDataTable th {
	margin: 0;
	padding: 2px 3px 2px 2px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e6e5e9;
	background-color: #f6f8fa;
	-moz-border-radius: 0px;
}

table.linedDataTable tr {	
	vertical-align:top;
}

.loginButton{
    width: 131px;
    height: 30px;
    color: #3D545D;
    background: #e4f5fc; /* Old browsers */
    background: linear-gradient(to bottom, #c8d8e9 3%,#e2f0ff 52%,#c7cefc 100%); /* W3C */
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
}

/* Change language */
.dropDownLang{
    color: #3D545D;
    background: #e4f5fc; /* Old browsers */
    background: linear-gradient(to bottom, #c8d8e9 3%,#e2f0ff 52%,#c7cefc 100%); /* W3C */
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    width: auto;
    height:20px;
    cursor: pointer;
}
.fontText{
    font-size: 11pt;
}
.boxRight{
    position:absolute; 
    margin-left:55%;
}